.SecOne {
    background-color: #8AB6D6;
    padding-bottom: 5%;
    padding-top: 20px;
    text-align: center;
    position: relative;

}

.SecTwo {
    display: block;
}

hr{
    width: 15%;
    border-top: 6px solid #2978B5;
    height: 1px;
}

body {
 background-color: #FBE0C4;
 margin: 0%;

}
.SecTre {
    padding-top: 30px;
    padding-bottom: 10px;
}

.SecFor {
    background-color: #2978B5;
    padding-bottom: 2%;
    text-align: center;
    color: #eeeeee;
}

h1 {
    display: block;
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
    font-family: 'Lobster', cursive;
    color: white;
}
h2{
    text-align: center;
    font-family: 'Hahmlet', serif;
    color: #2978B5;
}

h3{
    text-align: center;
    font-family: 'Hahmlet', serif;
    color: #2978B5;
}
p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Karla', sans-serif;
}
 .LongLegs {
    display: inline;
    margin-left: 40%;
    margin-top: 10px;
 }

 .Prev {
    margin: auto;
    width: 50%;
    
    padding: 10px;
    

 }

 .Futu {
    margin: auto;
    width: 50%;
    padding: 10px 0 40px;
    
 }

 ul {
     
     width: fit-content;
     margin: auto;
     width: 50%;
     
     padding: 10px;
 }

 li{
    font-family: 'Karla', sans-serif;
 }
 a {
    margin: auto;
    width: 50%;
    font-family: 'Karla', sans-serif;
    padding: 10px;
 }
 .stop {
     color: #eeeeee;
 }
 a:link {
    color: #8AB6D6;
}

a:visited {
    color: #bd4b4b;
}